* {
    margin: 0;
}

.header {
    width: 100%;
    height: 150px;
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding-left: 100px;
    font-family: 'Rubik', sans-serif;
}

.menu ul li {
    display: inline;
    
}

.menu ul li a {
    font-size: 16px;
    color: white;
    padding-right: 20px;
    color: #4a4a4a;
    text-decoration: none;
    
}
.menu ul {
    padding-bottom: 13px;
}

.container1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #3CDBC0;
    width: 100%;
    height: 1400px;
}

.titleppal {
    font-weight: bold;
    color: #FFFFFF;
    font-size: 30px;
}

.logo {
    width: 155px;
    padding-top: 10px;
    padding-bottom: 10px;
}

@media all and (min-width:768px) {
    .header {
        width: 100%;
        height: 100px;
        display: flex;
        position: fixed;
        top: 0;
        right: 0;
        flex-direction: row;
        justify-content: space-between;
        background-color: white;
        padding-left: 100px;
        font-family: 'Rubik', sans-serif;
    }
    .titleppal {
        font-weight: bold;
        color: #FFFFFF;
        font-size: 40px;
    }
    .logo {
        padding-left: 30px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .contacto {
        padding-right: 30px;
    }
}